* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textWhite {
    color: white;
}

.textCenter {
    text-align: center;
}



.hTestoGrande {
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 25px;
}

.hTestoMedio{
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
.pTestoGrande {
    font-size: 22px;
}

.paddingDestra{
    padding-right: 80px;
}

.paddSinistra{
    padding-left: 35px;
}

header {
    padding-top:1.5rem ;
    background-image: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 588px;
}

.selezione {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 2.5rem;
    margin-bottom: 1.5rem;
   
    

}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

header button {
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: solid white;
    border-radius: 20px;
    height: 40px ;
    width: 80px ;
}


.flexLink {
    display: flex;
    justify-content: space-around;
}

.flexButton {
    display: flex;
    justify-content: center;
}

.textDestra {
    text-align: right;
}


.width1 {
    width: calc((100% / 5) * 1);

}

.width2 {
    width: calc((100% / 5) * 3);
    text-align: center;

}

.rettBlu {
    padding: 50px;
    min-height: 500px ;
    display: flex;
    justify-content: center;
    align-items: center;

    
 

}

.rettRosa {
    width: 900px ;
    min-height: 400px ;
}

h1{
    font-size: 3rem;
    margin-bottom: 3rem;

}

.pHead {
    font-size: 1.2rem;
    margin-bottom: 1.8rem;

}

#scarica {
    background-color: white;
    height: 70px;
    border-radius: 35px;
    width: 280px;
    margin-right: 15px;
    font-size: 1.2rem;

}

#apri {
    background-color:  #222;
    color: white;
    height: 70px;
    width: 320px;
    border: solid #222;
    border-radius: 35px;
    font-size: 1.2rem;
}

.sfondoBianco {
    background-color: white;
}

.flexCont {
    width: 1200px;
    min-height: 600px;
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexItAzz {

    width: calc(100% / 5 * 3);
    min-height: 500px;
}

.flexItRosa {
    padding-top: 32px;
    
    width: calc(100% / 5 * 2);
    min-height: 500px;
}

.flexContInv {
    width: 1200px;
    min-height: 600px;
    margin: 0 auto ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.flexItAzzScuro {
    width: calc(100% / 5 * 3);
    min-height: 500px;
}

.sfondoGrigio {
    background-color: #F6F6F6;


}
.rettangoloVerde {
    width: 1200px;
    min-height: 900px;
    margin: 50px auto;
    text-align: center;
}

.bottoneBlu {
    font-size: 16px;
    font-weight: 600;
    height: 70px;
    width: 280px;
    background-color: #8EA1E1;
    border:none;
    border-radius: 35px;
    color: white;
}


.sfondoNeroChiaro {
    background-color: #23272A;
}

.rettangoloRosaSalmone {
    width: 360px;
    min-height: 580px;
}

.flexFlexCont {
    width: 840px;
    min-height: 580px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flexItemAzzurro {
    height: 580px;
    width: calc(100% / 4);
    padding-top: 60px;

}

.foot {
    padding-top: 2rem;
    height: 80px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerflex {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
}

footer button {
    background-color:  #FFB6C1;
    height: 1.5rem;
    
}


.bigImm {

    width: 100%;

}

.hTestoMedioBlu {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
    color: #8EA1E1;

}

span {
    padding-bottom: 25px;
}

.immaginePiccola {
    height: 1rem;
}

.paddingB {
    padding-bottom: 25px;
}

i {
    font-size: 1.2rem;
    margin-right: 15px;
}

.flexItemAzzurro > * {
    font-size: 1rem;
    padding-bottom: 1rem;

}

h4 {
    color:#8EA1E1;
}

.bottoneBluPiccolo {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: #8EA1E1;

}

.boxHr {
    margin: 0 auto;
    height:1px ;
    width: 1200px;
}

hr {
    border-top: 1px solid #8EA1E1;
}

.salvaHr {
    background-color: #23272A;
}